<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_IRemoteObject" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
                    hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288"
                    maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="2147483647">
                    <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647"
                        maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
                    <security mode="None"/>
                </binding>
            </netNamedPipeBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IRemoteObject" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
                    allowCookies="false">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="false" inactivityTimeout="00:10:00"
                        enabled="false" />
                  <security mode="None"/>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8001/Demo/DoStuff" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IRemoteObject" contract="WCFDemo.IRemoteObject"
                name="WSHttpBinding_IRemoteObject" />
            <endpoint address="net.pipe://localhost/Demo/DoStuff" binding="netNamedPipeBinding"
                bindingConfiguration="NetNamedPipeBinding_IRemoteObject" contract="WCFDemo.IRemoteObject"
                name="NetNamedPipeBinding_IRemoteObject" />
        </client>
    </system.serviceModel>
</configuration>